.clients
   padding-top: 55px
   padding-bottom: 61px
.client
   &-block
      display: flex
      justify-content: center
      align-items: center
      width: 212px
      height: 130px
      border: 1px solid rgba(0, 0, 0, 0.1)
      border-radius: 4px
      margin-right: 32px
      margin-bottom: 33px
      text-align: center
      &:hover
         cursor: pointer   
         .client-block__img
            display: inline-block
         .client-block__img-black
            display: none
      &__img
         display: none
         max-width: 212px
         max-height: 130px
         &-black
            display: inline-block

                  