@media (max-width: 576px)
   .anchor
      display: block
      position: relative
      top: -73px
      visibility: hidden
   .hidden-mobile
      display: none
   .overlay
      .popup
         width: 270px
         &-title
            max-height: 50px
            font-size: 18px
            line-height: 50px
         &-form
            padding: 20px
            &-header
               font-size: 24px
               span
                  font-size: 18px
               &__phbtn
                  flex-direction: column
                  align-items: center
            &__label
               margin-top: 10px
               font-size: 16px
            &__input
               width: 230px
               height: 45px
               margin-top: 12px
               margin-bottom: 12px
            &__btn
               margin-left: 0
               width: 160px
               height: 45px

@media (min-width: 577px) and (max-width: 768px)
   .hidden-mobile
      display: none
   .overlay
      .popup
         width: 520px
         top: 130px
         &-title
            max-height: 50px
            font-size: 18px
            line-height: 50px
         &-form
            padding: 20px
            &-header
               font-size: 24px
               span
                  font-size: 18px
               &__phbtn
                  flex-direction: column
                  align-items: center
            &__label
               margin-top: 10px
               font-size: 16px
            &__input
               width: 230px
               height: 45px
               margin-top: 12px
               margin-bottom: 12px
            &__btn
               margin-left: 0
               width: 160px
               height: 45px

@media (min-width: 769px) and (max-width: 992px)
   .overlay
      .popup
         width: 620px
         top: 130px
         &-form
            padding: 20px
            &-header
               font-size: 24px
               span
                  font-size: 18px
               &__phbtn
                  justify-content: center
            &__label
               font-size: 16px
            &__input
               width: 230px
               height: 45px
            &__btn
               width: 160px
               height: 45px

@media (min-width: 993px) and (max-width: 1200px)
   .hidden-fullScreen
      display: none

@media (min-width: 1201px)  and (max-width: 1400px)
   .hidden-fullScreen
      display: none

@media (min-width: 1401px)
   .hidden-fullScreen
      display: none

@media (min-width: 576px)
   .anchor
      display: block
      position: relative
      top: -100px
      visibility: hidden