.anchor
   display: block
   position: relative
   visibility: hidden
   
@media (max-width: 576px)
   .anchor
      top: -73px

@media (min-width: 576px)
   .anchor
      top: -100px

@media (max-width: 768px)
   .hidden-mobile
      display: none

@media (min-width: 993px)
   .hidden-fullScreen
      display: none
