.overlay
   position: fixed
   display: none
   top: 0
   width: 100%
   height: 100%
   z-index: 3
   background-color: rgba(0, 0, 0, 0.4)
   .popup
      position: fixed
      left: 50%
      top: 100px
      transform: translateX(-50%)
      width: 752px
      border: 2px solid #dfdfdf
      &-close
         position: absolute
         right: -20px
         top: -35px
         font-size: 35px
         color: $element-color-white
         font-weight: 300
         cursor: pointer
      &-title
            display: block
            width: 100%
            max-height: 71px
            margin: 0
            background-color: $active-color
            color: $text-color-light
            text-transform: uppercase
            font-size: 21px
            font-weight: 700
            text-align: center
            line-height: 71px
      &-form
         background: url(../img/modal/modal-bg.webp) center no-repeat
         background-size: cover
         padding: 35px 88px 50px 88px
         color: $text-color-light
         &-header
            padding: 0
            font-size: 30px
            font-weight: 400
            line-height: 27px
            text-align: center
            span
               font-size: 24px
            &__phoneButton
               display: flex
               align-items: flex-end
         &__label
            display: block
            margin-top: 23px
            font-size: 20px
            font-weight: 300
            line-height: 30px
         &__input
            border: 0px
            margin-top: 17px
            width: 365px
            height: 56px
            border-radius: 5px
            font-size: 14px
            font-weight: 300
            text-align: center
            color: rgba(55, 55, 55, 0.7)
         &__btn
            margin-left: 16px
            width: 180px
            height: 56px
            font-size: 15px
            font-weight: 400
            line-height: 22px
         &__note
            margin-top: 9px
            font-size: 14px
            font-weight: 300
            line-height: 30px
            text-align: center

@media (max-width: 576px)
   .overlay
      .popup
         width: 270px


@media (max-width: 768px)
   .overlay
      .popup
         &-title
            max-height: 50px
            font-size: 18px
            line-height: 50px
         &-form
            padding: 20px
            &-header
               font-size: 24px
               span
                  font-size: 18px
               &__phoneButton
                  flex-direction: column
                  align-items: center
            &__label
               margin-top: 10px
               font-size: 16px
            &__input
               width: 230px
               height: 45px
               margin-top: 12px
               margin-bottom: 12px
            &__btn
               margin-left: 0
               width: 160px
               height: 45px

@media (min-width: 577px) and (max-width: 768px)
   .overlay
      .popup
         width: 520px
         top: 130px
         
@media (min-width: 769px) and (max-width: 992px)
   .overlay
      .popup
         width: 620px
         top: 130px
         &-form
            padding: 20px
            &-header
               font-size: 24px
               span
                  font-size: 18px
               &__phoneButton
                  justify-content: center
            &__label
               font-size: 16px
            &__input
               width: 230px
               height: 45px
            &__btn
               width: 160px
               height: 45px